@model Recipe
@{
    ViewBag.Title = "Home Page";

}
@*Refference:
non-Veg: https://ca.images.search.yahoo.com/search/images;_ylt=AwrJ6tVUTMBdTHMA6RLtFAx.;_ylu=X3oDMTBsZ29xY3ZzBHNlYwNzZWFyY2gEc2xrA2J1dHRvbg--;_ylc=X1MDMjExNDcyMTAwNQRfcgMyBGFjdG4DY2xrBGNzcmNwdmlkA0dfV0NFakV3TGpMRG5xM2ZYYVM4WGdCZU1qWXdOd0FBQUFCOHNiYWcEZnIDbWNhZmVlBGZyMgNzYS1ncARncHJpZANQWW9kNjNjNlJTUzVvZjRqT0puZEFBBG5fc3VnZwMwBG9yaWdpbgNjYS5pbWFnZXMuc2VhcmNoLnlhaG9vLmNvbQRwb3MDMARwcXN0cgMEcHFzdHJsAwRxc3RybAMxOARxdWVyeQN2ZWclMjBmb29kJTIwaW1hZ2UEdF9zdG1wAzE1NzI4ODM1Njk-?p=veg+food+image&fr=mcafee&fr2=sb-top-ca.images.search&ei=UTF-8&n=60&x=wrt#id=19&iurl=http%3A%2F%2Fwww.panlasangpinoyrecipes.com%2Fwp-content%2Fuploads%2F2013%2F08%2FButtered-Vegetables-Recipe.jpg&action=click
Veg image: https://www.delish.com/cooking/
text : https://www.yummly.com/*@
<div class="text-center" style="color:darkgreen">
    <h1>Welcome to Sarker's Kitchen</h1>
    <h3>Explore Delicious Food Here</h3>
</div><br />
      <div style="float:right;">
          <img src="~/Images/Text.png" />
      </div>
      <div>
          <p>
              <img src="~/Images/Veg.png" style="left:0px;" /> <br />Veg
          </p>
          
          <p>
              <img src="~/Images/Non-Veg.png" style="left:0px;" /><br /> Non-Veg
          </p>

      </div>


